In [38]:
# Standard library imports
import sys
import os
import requests
import itertools
import math
from io import StringIO
from tqdm import tqdm

# 3rd-party library imports
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt

# Step 0

In [39]:
# Standard library imports
import requests
import sys
import os

# 3rd-party library imports
import pandas as pd
import numpy as np

# Add the parent folder to sys.path
# parent_dir = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))
# sys.path.insert(0, parent_dir)

# Local imports
# from parameters.data import GHCN_temp_url, GHCN_meta_url
GHCN_temp_url = 'https://data.giss.nasa.gov/pub/gistemp/ghcnm.tavg.qcf.dat'
GHCN_meta_url = 'https://data.giss.nasa.gov/pub/gistemp/v4.inv'

def get_GHCN_data(temp_url, meta_url):

    '''
    Retrieves and formats temperature data from the Global Historical Climatology Network (GHCN) dataset.

    Args:
    temp_url (str): The URL to the temperature data file in GHCN format.
    meta_url (str): The URL to the metadata file containing station information.

    Returns:
    pd.DataFrame: A Pandas DataFrame containing temperature data with station metadata.
    
    This function sends an HTTP GET request to the temperature data URL, processes the data to create
    a formatted DataFrame, replaces missing values with NaN, converts temperature values to degrees Celsius,
    and merges the data with station metadata based on station IDs. The resulting DataFrame includes
    columns for station latitude, longitude, and name, and is indexed by station IDs.
    '''

    try:
        # Send an HTTP GET request to the URL
        response = requests.get(temp_url)

        # Check if the request was successful
        if response.status_code == 200:
            
            # Get the content of the response
            file_data = response.content.decode("utf-8")

            # Create a list to store formatted data
            formatted_data = []

            # Loop through file data
            for line in file_data.split('\n'):
                
                # Check if line is not empty
                if line.strip():
                    
                    # Extract relevant data
                    # (Using code from GHCNV4Reader())
                    station_id = line[:11]
                    year = int(line[11:15])
                    values = [int(line[i:i+5]) for i in range(19, 115, 8)]
                    
                    # Append data to list
                    formatted_data.append([station_id, year] + values)

            # Create DataFrame from formatted data
            column_names = ['Station_ID', 'Year'] + [f'Month_{i}' for i in range(1, 13)]
            df_GHCN = pd.DataFrame(formatted_data, columns=column_names)
            
            # Replace -9999 with NaN
            df_GHCN.replace(-9999, np.nan, inplace=True)
            
            # Format data - convert to degrees C
            month_columns = [f'Month_{i}' for i in range(1, 13)]
            df_GHCN[month_columns] = df_GHCN[month_columns].divide(100)

        else:
            print("Failed to download the file. Status code:", response.status_code)

    except Exception as e:
        print("An error occurred:", str(e))

    # Define the column widths, create meta data dataframe
    column_widths = [11, 9, 10, 7, 3, 31]
    df_meta = pd.read_fwf(meta_url, widths=column_widths, header=None,
                          names=['Station_ID', 'Latitude', 'Longitude', 'Elevation', 'State', 'Name'])
    
    # Merge on station ID, set index
    df = pd.merge(df_GHCN, df_meta[['Station_ID', 'Latitude', 'Longitude', 'Name']], on='Station_ID', how='left')
    df = df.set_index('Station_ID')

    return df


def step0():
    '''
    Performs the initial data processing steps for the GHCN temperature dataset.

    Returns:
    pd.DataFrame: A Pandas DataFrame containing filtered and formatted temperature data.
    
    This function retrieves temperature data from the Global Historical Climatology Network (GHCN) dataset,
    processes and formats the data, and returns a DataFrame. The data is first fetched using specified URLs,
    and is returned for further analysis.
    '''
    df_GHCN = get_GHCN_data(GHCN_temp_url, GHCN_meta_url)
    return df_GHCN

In [40]:
step0_output = step0()

# Step 1

In [49]:
import pandas as pd
import os
import re
import sys

# Add the parent folder to sys.path
# parent_dir = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))
# sys.path.insert(0, parent_dir)

# Local imports
# from parameters.data import drop_rules
drop_rules = '''
CHM00052836  omit: 0-1948
CHXLT909860  omit: 0-1950
BL000085365  omit: 0-1930
MXXLT948335  omit: 0-1952
ASN00058012  omit: 0-1899
ASN00084016  omit: 0-1899
ASN00069018  omit: 0-1898
NIXLT013080  omit: 0-1930
NIXLT751359  omit: 0-9999
CHXLT063941  omit: 0-1937
CHM00054843  omit: 0-1937
MXM00076373  omit: 0-9999
USC00044022  omit: 0-9999
USC00044025  omit: 0-9999
CA002402332  omit: 2011-9999
RSM00024266  omit: 2021/09
'''


def filter_coordinates(df):
    """
    Filters a DataFrame based on latitude and longitude conditions.

    Args:
    df (pd.DataFrame): The input DataFrame with 'Latitude' and 'Longitude' columns.

    Returns:
    pd.DataFrame: The filtered DataFrame with rows where latitude is between -90 and 90,
    and longitude is between -180 and 180.
    """
    
    # Define latitude and longitude range conditions
    lat_condition = (df['Latitude'] >= -90) & (df['Latitude'] <= 90)
    lon_condition = (df['Longitude'] >= -180) & (df['Longitude'] <= 180)

    # Apply the conditions to filter the DataFrame
    df_filtered = df[lat_condition & lon_condition]
        
    # Calculate number of rows filtered
    num_filtered = len(df) - len(df_filtered)
    print(f'Number of rows with invalid coordinates (removed): {num_filtered}')

    return df_filtered


def filter_stations_by_rules(dataframe, rules_text):
    """
    Filters a DataFrame of climate station data based on exclusion rules specified in a text format.

    Parameters:
        dataframe (pd.DataFrame): The input DataFrame containing climate station data.
        rules_text (str): A string containing exclusion rules for specific stations and years.

    Returns:
        pd.DataFrame: A filtered DataFrame with stations omitted based on the provided rules.

    Rules Format:
        The 'rules_text' should be formatted as follows:
        - Each rule is represented as a single line in the text.
        - Each line should start with the station ID followed by exclusion rules.
        - Exclusion rules consist of 'omit:' followed by the years to exclude, e.g., 'omit: 2000-2010'.
        - Years can be specified as a single year (e.g., 'omit: 2000') or as a range (e.g., 'omit: 2000-2010').
        - Year ranges can also be specified using '/' (e.g., 'omit: 2000/2002').

    Example:
        rules_text = '''
            CHM00052836  omit: 0-1948
            CHXLT909860  omit: 0-1950
            BL000085365  omit: 0-1930
            ...
        '''

    This function takes the provided rules and applies them to the input DataFrame,
    resulting in a new DataFrame with stations excluded based on the specified rules.
    """

    # Parse the rules from the provided text
    rules = {}
    for line in rules_text.split('\n'):
        if line.strip():
            match = re.match(r'([A-Z0-9]+)\s+omit:\s+(\S+)', line)
            if match:
                station_id, year_rule = match.groups()
                rules[station_id] = year_rule

    # Create a mask to identify rows to omit
    mask = pd.Series(True, index=dataframe.index)

    for station_id, year_rule in rules.items():
        try:
            # Split the year_rule into start and end years
            start_year, end_year = map(int, year_rule.split('-'))
        except ValueError:
            # Handle cases like '2011/12' or '2012-9999'
            if '/' in year_rule:
                start_year = int(year_rule.split('/')[0])
                end_year = start_year
            elif '-' in year_rule:
                start_year = int(year_rule.split('-')[0])
                end_year = int(year_rule.split('-')[1])
            else:
                continue

        # Update the mask to False for the specified range of years for the station_id
        mask &= ~((dataframe['Year'] >= start_year) & (dataframe['Year'] <= end_year) & (dataframe.index == station_id))

    # Apply the mask to filter the DataFrame
    filtered_dataframe = dataframe[mask]

    # Calculate number of rows filtered
    num_filtered = len(dataframe) - len(filtered_dataframe)
    print(f'Number of rows removed according to station exclusion rules: {num_filtered}')

    return filtered_dataframe


def step1(step0_output):
    """
    Applies data filtering and cleaning operations to the input DataFrame.

    Parameters:
        step0_output (pd.DataFrame): The initial DataFrame containing climate station data.

    Returns:
        pd.DataFrame: A cleaned and filtered DataFrame ready for further analysis.

    This function serves as a data processing step by applying two essential filtering operations:
    1. `filter_coordinates`: Filters the DataFrame based on geographical coordinates, retaining relevant stations.
    2. `filter_stations_by_rules`: Filters the DataFrame based on exclusion rules, omitting specified stations and years.

    The resulting DataFrame is cleaned of irrelevant stations and years according to specified rules
    and is ready for subsequent data analysis or visualization.
    """
        
    df_filtered = filter_coordinates(step0_output)
    df_clean = filter_stations_by_rules(df_filtered, drop_rules)
    return df_clean

In [50]:
step1_output = step1(step0_output)

Number of rows with invalid coordinates (removed): 0
Number of rows removed according to station exclusion rules: 524

# Step 2

In [51]:
# Skip for now

# Step 3

In [52]:
def generate_80_cell_grid():
    lat_bands = [-90, -64.2, -44.4, -23.6, 0, 23.6, 44.4, 64.2, 90]
    n_bands = len(lat_bands) - 1  # Number of latitude bands
    n_boxes_per_band = 10  # Number of boxes per band

    data = []

    for band in range(n_bands):
        lat_south = lat_bands[band]
        lat_north = lat_bands[band + 1]

        for i in range(n_boxes_per_band):
            lon_west = -180 + i * (360 / n_boxes_per_band)
            lon_east = -180 + (i + 1) * (360 / n_boxes_per_band)

            # Calculate the equal area center latitude and longitude
            sinc = 0.5 * (math.sin(lat_south * math.pi / 180) + math.sin(lat_north * math.pi / 180))
            center_latitude = math.asin(sinc) * 180 / math.pi
            center_longitude = 0.5 * (lon_west + lon_east)

            data.append((lat_south, lat_north, lon_west, lon_east, center_latitude, center_longitude))

    df = pd.DataFrame(data, columns=['Southern', 'Northern', 'Western', 'Eastern', 'Center_Latitude', 'Center_Longitude'])

    return df

def interpolate(x, y, p):
    return y * p + (1 - p) * x

# def generate_8000_cell_grid():
#     def subgen(lat_s, lat_n, lon_w, lon_e):
#         alts = math.sin(lat_s * math.pi / 180)
#         altn = math.sin(lat_n * math.pi / 180)
#         for y in range(10):
#             s = 180 * math.asin(interpolate(alts, altn, y * 0.1)) / math.pi
#             n = 180 * math.asin(interpolate(alts, altn, (y + 1) * 0.1)) / math.pi
#             for x in range(10):
#                 w = interpolate(lon_w, lon_e, x * 0.1)
#                 e = interpolate(lon_w, lon_e, (x + 1) * 0.1)
#                 yield (s, n, w, e)

#     initial_regions_df = generate_80_cell_grid()
#     data = []

#     for index, row in initial_regions_df.iterrows():
#         for subcell in subgen(row['Southern'], row['Northern'], row['Western'], row['Eastern']):
#             data.append(subcell)

#     grid_df = pd.DataFrame(data, columns=['Southern', 'Northern', 'Western', 'Eastern'])
    
#     # Calculate the center latitude and longitude
#     grid_df['Center_Latitude'] = (grid_df['Southern'] + grid_df['Northern']) / 2
#     grid_df['Center_Longitude'] = (grid_df['Western'] + grid_df['Eastern']) / 2
    
#     return grid_df

def haversine_distance(lat1, lon1, lat2, lon2):
    """
    Calculate the spherical distance (in kilometers) between two pairs of
    latitude and longitude coordinates using the Haversine formula.

    Args:
        lat1 (float): Latitude of the first point in degrees.
        lon1 (float): Longitude of the first point in degrees.
        lat2 (float): Latitude of the second point in degrees.
        lon2 (float): Longitude of the second point in degrees.

    Returns:
        float: Spherical distance in kilometers.
    """
    # Convert latitude and longitude from degrees to radians
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Radius of the Earth in kilometers
    radius = 6371.0  # Earth's mean radius

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = radius * c

    return distance


def linearly_decreasing_weight(distance, max_distance):
    """
    Calculate a linearly decreasing weight based on the given distance
    and maximum distance.

    Args:
        distance (float): The distance at which you want to calculate the weight.
        max_distance (float): The maximum distance at which the weight becomes 0.

    Returns:
        float: The linearly decreasing weight, ranging from 1 to 0.
    """
    # Ensure that distance is within the valid range [0, max_distance]
    distance = max(0, min(distance, max_distance))

    # Calculate the weight as a linear interpolation
    weight = 1.0 - (distance / max_distance)
    
    return weight

In [53]:
generate_80_cell_grid()

    Southern  Northern  Western  Eastern  Center_Latitude  Center_Longitude
0      -90.0     -64.2   -180.0   -144.0       -71.834397            -162.0
1      -90.0     -64.2   -144.0   -108.0       -71.834397            -126.0
2      -90.0     -64.2   -108.0    -72.0       -71.834397             -90.0
3      -90.0     -64.2    -72.0    -36.0       -71.834397             -54.0
4      -90.0     -64.2    -36.0      0.0       -71.834397             -18.0
..       ...       ...      ...      ...              ...               ...
75      64.2      90.0      0.0     36.0        71.834397              18.0
76      64.2      90.0     36.0     72.0        71.834397              54.0
77      64.2      90.0     72.0    108.0        71.834397              90.0
78      64.2      90.0    108.0    144.0        71.834397             126.0
79      64.2      90.0    144.0    180.0        71.834397             162.0

[80 rows x 6 columns]

In [54]:
# Collect meta data for stations
GHCN_meta_url = 'https://www.ncei.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt'
column_widths = [11, 9, 10, 7, 3, 31]
station_df = pd.read_fwf(GHCN_meta_url, widths=column_widths, header=None,
                      names=['Station_ID', 'Latitude', 'Longitude', 'Elevation', 'State', 'Name'])

# Create 80 cell grid
grid_80_df = generate_80_cell_grid()

# Initialize an empty list to store station IDs and weights as dictionaries
station_weights_within_radius = []

# Maximum distance for the weight calculation (e.g., 1200.0 km)
max_distance = 1200.0

In [55]:
# Use tqdm to track progress
for index, row in tqdm(grid_80_df.iterrows(), total=len(grid_80_df), desc="Processing"):
    center_lat = row['Center_Latitude']
    center_lon = row['Center_Longitude']
    
    # Calculate distances for each station in station_df
    distances = station_df.apply(lambda x: haversine_distance(center_lat, center_lon, x['Latitude'], x['Longitude']), axis=1)
    
    # Find station IDs within the specified radius
    nearby_stations = station_df[distances <= max_distance]
    
    # Calculate weights for each nearby station
    weights = nearby_stations.apply(lambda x: linearly_decreasing_weight(distances[x.name], max_distance), axis=1)
    
    # Create a dictionary of station IDs and weights
    station_weights = dict(zip(nearby_stations['Station_ID'], weights))
    
    # Append the dictionary to the result list
    station_weights_within_radius.append(station_weights)

# Add the list of station IDs and weights as a new column
grid_80_df['Nearby_Stations'] = station_weights_within_radius

# Set index name
grid_80_df.index.name = 'Box_Number'

# Print grid_80_df with the new column
print(grid_80_df)

Processing: 100%|███████████████████████████████| 80/80 [00:29<00:00,  2.71it/s]

            Southern  Northern  Western  Eastern  Center_Latitude  \
Box_Number
0              -90.0     -64.2   -180.0   -144.0       -71.834397
1              -90.0     -64.2   -144.0   -108.0       -71.834397
2              -90.0     -64.2   -108.0    -72.0       -71.834397
3              -90.0     -64.2    -72.0    -36.0       -71.834397
4              -90.0     -64.2    -36.0      0.0       -71.834397
...              ...       ...      ...      ...              ...
75              64.2      90.0      0.0     36.0        71.834397
76              64.2      90.0     36.0     72.0        71.834397
77              64.2      90.0     72.0    108.0        71.834397
78              64.2      90.0    108.0    144.0        71.834397
79              64.2      90.0    144.0    180.0        71.834397

            Center_Longitude  \
Box_Number
0                     -162.0
1                     -126.0
2                      -90.0
3                      -54.0
4                      -18.0
...                      ...
75                      18.0
76                      54.0
77                      90.0
78                     126.0
79                     162.0

                                              Nearby_Stations
Box_Number
0           {'AYM00089327': 0.033180373720041234, 'AYM0008...
1           {'AYM00089324': 0.23006027330624246, 'AYM00089...
2           {'AYM00089062': 0.19952788531365517, 'AYM00089...
3           {'AYM00088963': 0.21163124644915876, 'AYM00089...
4           {'AYM00089001': 0.5100758876554738, 'AYM000890...
...                                                       ...
75          {'FI000002401': 0.084962737000011, 'FI00000750...
76          {'FI000007501': 0.03525474404660178, 'FIE00146...
77          {'RSM00020069': 0.23374072346639707, 'RSM00020...
78          {'RSM00020289': 0.13001416824544054, 'RSM00020...
79          {'RSM00021358': 0.5377131220987585, 'RSM000214...

[80 rows x 7 columns]

In [56]:
grid_80_df['Nearby_Stations'].iloc[0]

{'AYM00089327': 0.033180373720041234,
 'AYM00089345': 0.05384328602457955,
 'AYM00089376': 0.16452351560386513,
 'AYM00089661': 0.2129759486689381,
 'AYM00089662': 0.07207839859029075,
 'AYM00089664': 0.07705257354483985,
 'AYM00089666': 0.031079631471481517,
 'AYM00089667': 0.07063445329876195,
 'AYM00089768': 0.05208054854286992,
 'AYM00089769': 0.08431462499458553,
 'AYM00089864': 0.06190969590953144,
 'AYM00089865': 0.15713530446043067,
 'AYM00089868': 0.040122552139423395,
 'AYM00089872': 0.14907879375180066,
 'AYM00089879': 0.23312986385784518,
 'AYW00067401': 0.2404492620133053,
 'AYW00067402': 0.4506642628052141,
 'AYW00067601': 0.41011860537970757,
 'AYW00068701': 0.1636133619479868,
 'AYW00087602': 0.03229984214024895,
 'AYW00087701': 0.21322487211259544}

In [57]:
def find_box_number(station_df, grid_80_df):
    box_numbers = []

    for _, station_row in tqdm(station_df.iterrows(), total=len(station_df)):
        latitude = station_row['Latitude']
        longitude = station_row['Longitude']

        for box_number, box_row in grid_80_df.iterrows():
            southern = box_row['Southern']
            northern = box_row['Northern']
            western = box_row['Western']
            eastern = box_row['Eastern']

            if southern <= latitude <= northern and western <= longitude <= eastern:
                box_numbers.append(box_number)
                break
        else:
            box_numbers.append(None)

    return box_numbers

In [58]:
# Find box numbers for each station, add to station_df
box_numbers = find_box_number(station_df, grid_80_df)
station_df['Box_Number'] = box_numbers

100%|█████████████████████████████████| 124954/124954 [01:19<00:00, 1570.55it/s]

In [59]:
station_df

,Station_ID,Latitude,Longitude,Elevation,State,Name,Box_Number
0,ACW00011604,17.1167,-61.7833,10.1,NaN,ST JOHNS COOLIDGE FLD,43
1,ACW00011647,17.1333,-61.7833,19.2,NaN,ST JOHNS,43
2,AE000041196,25.3330,55.5170,34.0,NaN,SHARJAH INTER. AIRP,56
3,AEM00041194,25.2550,55.3640,10.4,NaN,DUBAI INTL,56
4,AEM00041217,24.4330,54.6510,26.8,NaN,ABU DHABI INTL,56
...,...,...,...,...,...,...,...
124949,ZI000067969,-21.0500,29.3670,861.0,NaN,WEST NICHOLSON,35
124950,ZI000067975,-20.0670,30.8670,1095.0,NaN,MASVINGO,35
124951,ZI000067977,-21.0170,31.5830,430.0,NaN,BUFFALO RANGE,35
124952,ZI000067983,-20.2000,32.6160,1132.0,NaN,CHIPINGE,35
124953,ZI000067991,-22.2170,30.0000,457.0,NaN,BEITBRIDGE,35

# Step 4: SST Data

In [60]:
# Skipping for now

# Step 5: Anomalyzing Data

In [61]:
def anomalize_temperature_data(data, reference_period=(1951, 1980)):
    # Extract the years from the DataFrame
    years = data['Year'].unique()
    
    # Calculate monthly means for the reference period
    reference_data = data[(data['Year'] >= reference_period[0]) & (data['Year'] <= reference_period[1])]
    monthly_means = reference_data.iloc[:, 1:13].mean()
    
    # Initialize a DataFrame to store the anomalized data
    anomalized_data = data.copy()
    
    # Anomalize each month's data
    for month in tqdm(range(1, 13), desc="Anomalizing Months"):
        
        # Calculate the anomaly for the current month
        anomalized_data[f'Month_{month}'] = data.apply(lambda row: row[f'Month_{month}'] - monthly_means[month - 1], axis=1)
    
    return anomalized_data

In [62]:
df = step1_output
df_anom = anomalize_temperature_data(df, reference_period=(1951, 1980))
df_anom

Anomalizing Months: 100%|███████████████████████| 12/12 [00:44<00:00,  3.67s/it]

,Year,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,Latitude,Longitude,Name
Station_ID,,,,,,,,,,,,,,,,
ACW00011604,1961,-1.439347,0.135949,-1.07872,-2.841062,-3.591227,-2.476789,-4.786892,-5.059991,-2.578559,-0.337097,-1.52523,-2.780427,57.7667,11.8667,VE
ACW00011604,1962,0.580653,-1.374051,-7.33872,-4.221062,-5.791227,-4.656789,-5.386892,-5.939991,-5.078559,-2.137097,-3.39523,-3.650427,57.7667,11.8667,VE
ACW00011604,1963,-7.679347,-7.754051,-6.78872,-5.161062,-2.631227,-2.196789,-4.286892,-3.909991,-3.388559,-2.677097,-0.96523,-3.470427,57.7667,11.8667,VE
ACW00011604,1964,0.070653,-3.074051,-5.24872,-3.191062,-2.681227,-4.046789,-5.426892,-4.299991,-4.498559,-4.197097,-1.16523,-1.270427,57.7667,11.8667,VE
ACW00011604,1965,-0.109347,-3.274051,-5.41872,-4.671062,-5.001227,-3.466789,-5.616892,-5.099991,-2.938559,-2.337097,-6.31523,-4.170427,57.7667,11.8667,VE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZIXLT622116,1966,21.290653,18.215949,12.64128,6.368938,-0.531227,-5.626789,-8.346892,-5.229991,1.031441,7.762903,14.31477,18.749573,-19.4300,29.7500,ELO
ZIXLT622116,1967,20.590653,17.715949,13.14128,8.668938,0.268773,-4.926789,-9.446892,-6.029991,-0.068559,8.762903,13.31477,16.749573,-19.4300,29.7500,ELO
ZIXLT622116,1968,21.290653,17.815949,13.54128,7.668938,0.768773,-7.626789,-6.746892,-3.529991,0.931441,9.762903,11.81477,18.349573,-19.4300,29.7500,ELO
ZIXLT622116,1969,20.390653,19.315949,13.74128,7.768938,-0.731227,-5.326789,-8.846892,-5.229991,1.131441,8.962903,13.81477,16.749573,-19.4300,29.7500,ELO
ZIXLT622116,1970,20.190653,17.715949,13.54128,6.668938,0.768773,-5.126789,-7.146892,-4.429991,3.731441,8.262903,14.71477,19.149573,-19.4300,29.7500,ELO